:root{
    
    /*Colores bonitos del curso git y github*/
    --blanco:#ffffff;
    --oscuro:#212121;
    --principal:#FFC107;
    --secundario:#0097A7;
    --gris:#757575;

    /*Fuentes OMG*/
    --fuente-principal:3.8rem;
    --fuente-pequeña:2rem;


}

html{
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px Hola*/
}

.titulo{
    text-align: center;
    font-size: var(--fuente-principal);
    color: var(--oscuro);
}

.titulo span{
    font-size: var(--fuente-pequeña);
}